@import '../../../scss/index.scss';

.app {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto', sans-serif;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }
}
